[Desktop Entry]
Comment=
Exec=sshvnc sara_uw_ec2_gpu
Icon=video-display
MimeType=
Name=VNC SARA UW EC2 GPU
NoDisplay=false
Path[$e]=
StartupNotify=true
Terminal=0
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
